:root{
  --primario: rgb(94, 156, 243);
  --primarioOscuro: #202020;
  --secundario: #e62429;
  --error: red;
  --blanco: white;
  --blancoRoto:#f6f6f6;
  --blancoSucio:#b6b6b6;
  --grisClaro: #393939;
  --grisOscuro: #202020;
}

html {
  font-size: 62.5%;
  box-sizing: border-box; /*para que no se me modifique el tamaño al añadir pading*/
  /*scroll-snap-type: y mandatory; /*para que se detenga en las partes que yo quiera*/
}

*, *:before, *:after { /*para que no se me modifique el tamaño al añadir pading. Va con el box-sizing del html*/
  box-sizing: inherit;
}

body {
  font-size: 16px; /* 1rem=10px */
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
}

h1, h2 {
  color: var(--secundario);
  font-size: 2.5em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5em;
}

fieldset {
  border: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
}

input {
  margin-bottom: 2.5rem;
}

.container {
  max-width: 130rem;
  /*margin: 0 auto 0 auto; ponemos todos los margin en 1 en orden: top, right, bottom, left*/
  margin: 0 auto; /*si solo ponemos 2 el primero es top/bottom y el segundo right/left*/
}

.alin-derecha {
  display: flex;
  justify-content: flex-end;
}

.centrar {
  text-align: center;
}

.red {
  color: var(--secundario);
}

.boton {
  background-color:  var(--primarioOscuro);
  color: var(--blanco);
  text-decoration: none;
  padding: 1.5rem 3rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1rem;
  width: 90%;
  text-align: center;
  border: none;
  transition: 0.1s;
}

.boton:hover{
  cursor: pointer;
  color: var(--secundario)
}

@media (min-width: 768px) { 
  .boton{
    width: auto;
  }
}

.flex-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media only screen and (min-width:768px) {
  .flex-container {
    flex-direction: row;
  }
} 

.main {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  background-color: var(--blancoRoto);
}

@media only screen and (min-width:768px){
  .main {
    width: calc(100% - 325px); /* calcula siempre el 100% menos lo que ocupa el aside */
    min-height: 100vh;
  }
}